.cover__subtitle {
  margin: 32px auto 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  color:#ffffff;
  font-size: 18px;
  line-height: 1.22;
  font-weight: normal;
  max-width: 360px;
  text-align: center;
  justify-self: center;
}


@media screen and (max-width: 320px) {
  .cover__subtitle {
    margin: 16px 16px 0 16px;
    font-size: 14px;
    line-height: 1.14;
  }
}
