.lead__title {
  font-size: 96px;
  max-width: 720px;
  color: #ffffff;
  line-height: 1.04;
  font-weight: 900;
  font-family: 'Inter', Arial, sans-serif;
  text-align: center;
  align-self: center;
  margin-bottom: 32px;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin-right: 24px;
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 720px;
    margin: 0 16px 16px 16px;
    font-size: 40px;
  }
}
