.cover__title {
  display: flex;
  margin: 0 auto;
  padding-top: 245px;
  font-family: 'Inter', Arial, sans-serif;
  color:#ffffff;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  max-width: 560px;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    padding-top: 195px;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    padding-top: 115px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
     padding-top: 33px;
     max-width: 286px;
     font-size: 32px;
     line-height: 1.09;
   }
}
